nav{
    height: 55px;
    background-color: white;
    box-shadow: 1px 1px 10px 3px rgb(0 0 0 / 5%);
    position: fixed;
    width: 100%;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    >div{
        position: relative;
        display: flex;
        height: 100%;
        // width: 50%;
        align-items: center;
        .menuBtn{
            width: 30px;
            height: 40px;

            position: relative;
            margin-right: 20px;
            >div{
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: black;
                top: calc(50% - .5px);
                transition: all ease .3s;
                transform-origin: center;
            }
            >:first-child{
                top: calc(30% - .5px);
            }
            >:last-child{
                top: calc(70% - .5px);
            }
        }
        .logo{
            height: 100%;
            position: relative;
            overflow: hidden;
            transform: translate(0, 11%);
            width: calc(100% - 50px);
            transition: all ease .3s;

            >div{
                min-width: 300px;
                img{
                    height: inherit;
                    height: 100%;
                }
            }
        }

        .cart{
            width: 30px;
            margin-right: 20px;
        }
        .member{
            width: 22px;
        }
    }

    @media screen and (max-width:1500px) {
        >div{
            .logo{
                width: 21%;
            }
        }
    }
}
