.navVisualInfo{
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    height: unset;
    transform: translate(0,0%);
    padding-top: 55px;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;

    transition: transform ease .3s;

    .mainContent{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 40px;
        >*{
            width: 50%;
        }
        >.logo{
            img{
                max-width: 380px;
                width: 100%;
                margin-left: 20%;
                margin-right: auto;
            }
        }
        .aboutInfo{
            position: relative;
            max-width: 440px;
            width: 100%;
            margin: 0 auto;
            .subtitle{
                position: absolute;
                font-size: 18px;
                font-weight: 900;
                letter-spacing: 10px;
                transform-origin: right;
                left: 0;
                top: 0;
                transform: translate(-150px,0);
            }
            >p{
                text-align: left;
                opacity: 0.8;
                letter-spacing: 2px;
                font-size: 14px;
                line-height: 1.2;
                margin-bottom: 30px;
            }

            >.btns{
                display: flex;
                justify-content: space-between;
                >div{
                    >a{
                        padding: 10px;
                        display: inline-block;
                    }

                    .contact{
                        border: 1px solid black;
                    }

                    .more{
                        border-bottom: 1px solid black;

                    }
                }

                .icons{ 
                    transform: translate(calc(100% + 50px),0);
                    position: absolute;
                    right: 0;

                    >div{
                        display: inline-block;
                        margin: 10px 20px;
                        >a{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            opacity: .5;
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    >div{
        width: 100%;
        img{
            width: 100%;
        }
    }

    &.indexShow{
        transform: translate(0,99%);

    }
}