.search{
    // background-color: red;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: unset;
    padding: unset;
    margin-right: 25px;
    position: relative;

    padding: 5px 10px;
    input{
        border: unset;
        outline: unset;
        // letter-spacing: .5px;
        font-size: 16px;
        vertical-align: center;
    }
    input[type="button"]{
        width: 15px;
        height: 15px;
        background: url(~@/assets/img/search-icon.svg) no-repeat center center;
        // transform: translate(0,10%);
        margin-right: 10px;
        cursor: pointer;
        transition: transform ease .3s;

        &.scale{
            transform: scale(1.2);
        }
    }

    input[type="text"]{
        width: 30vw;
    }

    .recommedBar{
        position: absolute;
        bottom: 0;
        left: -1px;
        transform: translate(0, 100%);
        background-color: #fff;
        width: calc(100% - 138px);
        // outline: 1px solid black;
        border: 1px solid black;
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
        // padding-left: 40px;
        >div{
            width: 100%;
            padding: 5px;
            padding-left: 30px;
            text-align: left;
            font-size: 18px;
            line-height: 1.2;
            
            >a{
                color: #5d5d5d;
                display: block;
            }
            &:hover,&.active{
                background-color: #f0f0f0;
                >a{
                    color: black;
                }
            }
        }
    }

    &:focus-within{
        border: 2px solid black;
    }

    @media screen and (max-width: 980px) {
        border: none;
        margin-right: 10px;

        input[type="button"]{
            width: 20px;
            height: 20px;
            // background: url(~@/assets/img/search-icon.svg) no-repeat center center;
            // transform: translate(0,10%);
            margin-right: unset;
            // cursor: pointer;
            // transition: transform ease .3s;
    
            &.scale{
                transform: scale(1.2);
            }
        }
    

        input[type="text"]{
            display: none;
        }

        .recommedBar{
            display: none;
        }


        &:focus-within{
            border: unset;
        }


    }
}

