.search{
    // background-color: red;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: unset;
    padding: unset;
    margin-right: 25px;
    position: relative;

    padding: 5px 10px;
    input{
        border: unset;
        outline: unset;
        letter-spacing: .5px;
        font-size: 16px;
        vertical-align: center;
    }
    input[type="button"]{
        width: 15px;
        height: 15px;
        background: url(~@/assets/img/search-icon.svg) no-repeat center center;
        // transform: translate(0,10%);
        margin-right: 10px;
        cursor: pointer;
        transition: transform ease .3s;

        &.scale{
            transform: scale(1.2);
        }
    }

    input[type="text"]{
        width: 30vw;
    }

    .recommedBar{
        position: absolute;
        bottom: 0;
    }

    &:focus-within{
        border: 2px solid black;
    }

    @media screen and (max-width: 980px) {
        display: none;
    }
}

