// @import '../../img/down_arrow-22.svg';

@import '../common/reset';

.selectBar{
    position: relative;
    display: flex;

    >div{
        width: 100%;
        padding: 8px;
        position: relative;
        font-size: 16px;

    }

    .main{
        border-left: 1px solid black;
        padding-right: 30px;
        padding-left: 10px;
        width: 130px;
        text-align: left;
        

        // 下拉選單icon
        &::after{
            content: "";
            display: block;
            width: 12px;
            height: 30px;
            position: absolute;
            background: url(~@/assets/img/down_arrow-22.svg) no-repeat center center;
            background-size: contain;
            right: 5px;
            top: calc(50% - 15px);
            
        }
    }

    .list{
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translate(0,100%);
        background-color: white;
        border: 1px solid black;
        border-top: unset;
        box-shadow: 1px 6px 9px 1px rgb(0 0 0 / 4%);
        // display: none;
        >*{
            display: block;
            padding: 2px;
            text-align: left;
        }
    }
}