.wrap{
    .designers{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 50px;
        width: 100%;
        max-width: 1600px;
        margin: auto;
        >div{
            width: calc(calc(100% / 4) - 20px);
            margin: 10px;
            box-shadow: 5px 5px 10px 1px rgba($color: #000000, $alpha: .2);
            .designerInfo{
                display: block;
                width: 100%;
                background-color: white;
                padding: 10px;
                position: relative;



                .prodContainer{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    >*{
                        width: 50%;
                        display: block;
                        position: relative;
                        padding-top: 50%;
                        overflow: hidden;
                        img{
                            top: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform ease .3s;
                        }
                        &::after{
                            pointer-events: none;
                            content: "";
                            display: block;
                            position: absolute;
                            background-color: black;
                            opacity: .1;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: opacity ease .3s;
                        }

                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                            &::after{
                                opacity: 0;
                            }
                        }
                    }   
                }

                .infoContainer{
                    padding-top: 30px;
                    display: block;
                    // padding-bottom: 10px;
                    text-align: left;
                    position: relative;
                    p{
                        letter-spacing: 1.2px;
                    }
                    .portrait{
                        left: 50%;
                        transform: translate(-50%,-70%);
                        top: 0;
                        width: 85px;
                        height: 85px;
                        border-radius: 100%;
                        border: 1px solid rgba($color: #000000, $alpha: .1);
                        background-color: rgba($color: #000000, $alpha: .1);
                        object-fit: cover;
                        position: absolute;
                    }
                }

                .prodsType{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-top:  15px;
                    padding-bottom: 5px;
                    >a{
                        padding: 5px 10px;
                        margin-right: 10px;
                        border: 1px solid black;
                        transition: all ease .3s;
                        &:hover{
                            background-color: #0b2659;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:980px) {
        .designers{
            padding: 0 15px;
            >div{
                width: 100%;
                margin: unset;
                margin-bottom: 15px;
            }
        }
    }
}


