.recommendSortBar{
    background-color: white;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .recommend{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        >a{
            font-size: 16px;
            border: 1px solid #0b2659;
            padding: 10px 20px;
            margin-right: 20px;
            transition: all ease .3s;
            &:hover{
                background-color: #0b2659;
                color: white;
            }
        }
    }

    .sort{
        width: 180px;
        line-height: 1.5;
        text-align: left;
        padding-left: 15px;
        border-bottom: 1px solid black;

        position: relative;
        .list{
            position: absolute;
            bottom: 1px;
            left: 0;
            transform: translate(0,100%);
            width: 100%;
            background-color: white;
            padding-top: 10px;
            >a{
                display: block;
                padding: 5px 15px ;

                // transition: all ease .3s;
                &:hover{
                    background-color: #0b2659;
                    color: white;
                }
            }
        }

        &::after{
            content: "";
            position: absolute;
            top: 5px;
            right: 0;
            display: block;
            width: 15px;
            height: 15px;
            background: url(~@/assets/img/down_arrow-22.svg) no-repeat center center;
        }
    }
}

.searchInfo{
    padding: 20px 50px;
    >div{
        display: flex;
        border-bottom: 2px solid rgba($color: white, $alpha: .2);

        align-items: flex-end;
        justify-content: flex-start;
        padding: 0 50px;
        padding-bottom: 20px;
        
        >.title{
            margin-right: 50px;
            >p{
                color: white;
                max-width: 1200px;
                font-size: 62px;
                font-weight: 900;
                font-family: 'Noto Sans TC', sans-serif;
                letter-spacing: 2px;
                line-height: 1.5;
                opacity: 1;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        >.info{
            padding-left: 20px;
            position: relative;
            >p{
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 1px;
                vertical-align: bottom;
                color: white;
                text-align: left;
                opacity: .8;
            }
            &::after{
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                position: absolute;
                background-color: rgba($color: white, $alpha: .6);
                bottom: 0;
                left: 0;
                transform-origin: left;
                transform: rotate(-80deg);
            }
        }
    }
}